<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TYL Hackathon</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    body{
        background-color: #2B2B2B;
    }
    #Googlemap {
        margin: 5%;
        height: 80%;
        width: 50%;
        position: absolute;
       }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Team Asterix</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'india' %}">India Overview</a></li>
      <li><a href="{% url 'karnataka' %}">Karnataka Overview</a></li>
      <li><a href="#">Important Links</a></li>
    </ul>
  </div>
</nav>

{% block content %}
    <div class="row">
        <div class="col-md-6" id="Googlemap"></div>
        <div class="col-md-4" style="float: right; color: aliceblue; top: 150px; margin: 10%">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Van Number</th>
                  <th scope="col">Current Location</th>
                  <th scope="col">Next Location</th>
                  <th scope="col">Moving at</th>
                </tr>
              </thead>
              <tbody>
              {% for ar, nl, time in locs %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ ar }}</td>
                  <td>{{ nl }}</td>
                  <td>{{ time }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

<script>
var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
var labelIndex = 0;

function initMap() {
    var uluru = {lat: 12.9716, lng: 77.5946};
    var map = new google.maps.Map(document.getElementById('Googlemap'), {zoom: 10, center: uluru});
    {% for lat, long in areas %}
    var van = new google.maps.Marker({position: {lat: {{ lat }}, lng: {{ long }} },
        map: map,
        animation:google.maps.Animation.BOUNCE,
        label: labels[labelIndex++ % labels.length]});
    van.setMap(map);
    {% endfor %}

    {% for clat, clng, nlat, nlng in nloc %}
    var flightPlanCoordinates = [
          {lat: {{ clat }}, lng: {{ clng }} },
          {lat: {{ nlat }}, lng: {{ nlng }}}

        ];
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    flightPath.setMap(map);
        {% endfor %}

    {% for a, b in narea %}
    var move = new google.maps.Marker({position: {lat: {{ a }}, lng: {{ b }}},
        map: map,
        label: labels[labelIndex++ % labels.length]});
    move.setMap(map);
    {% endfor %}


}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
{% endblock %}
</body>
</html>