<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<style>
    html {
     overflow: auto;
    }

    html, body, div, iframe {
     margin: 0px;
     padding: 0px;
     height: 100%;
     border: none;
    }
    iframe{
         display: block;
         width: 100%;
         border: none;
         overflow-y: auto;
         overflow-x: hidden;

        }
</style>
<iframe id="main" src="https://covid19.karnataka.gov.in/covid-dashboard/dashboard.html" width="100%" height="100%"></iframe>
<script>
    console.log($("#main").contents().find('page-pretitle'))
    $("#main").contents().remove("STATE DISASTER MANAGEMENT AUTHORITY");
</script>
</body>
</html>